*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:auto;
    margin-top: 20vh;
}

img{
    border-radius: 50%;
    border: 5px #333 solid;
}

.male{
    border-color: steelblue;
    background-color: steelblue;
}

.female{
    border-color: pink;
    background-color: pink;
    color: #333;
}